<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdvancedToDoList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AdvancedToDoList.Properties.Settings>
            <setting name="ProjFormWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="ProjFormHeight" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="ProjFormSplitterMainDist" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="ProjFormSplitterTasksDist" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ProjFormSplitterPartsDist" serializeAs="String">
                <value>120</value>
            </setting>
        </AdvancedToDoList.Properties.Settings>
    </userSettings>
</configuration>